extends layout

block content
  .panel
    .panel-heading
    .panel-body
      .card.position-relative
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Enviar Mensaje
        .card-body
          .hidden
            div#msg
          form#enviar(action="/enviar" method="post")
            .form-group
              label.label-control Destinos
              input#numero.form-control(name="numero")
            .form-group
              label.label-control Mensaje
              textarea#mensaje.form-control(name="mensaje",rows="4")
            .form-group
              button.btn.btn-primary Enviar          
  script(src="js/enviar.js")

  