doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title WaBot
    // Bootstrap core CSS
    link(href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet")
    // Custom styles for this template
    link(href="https://getbootstrap.com/docs/4.0/examples/product/product.css" rel="stylesheet")
  body
    nav.site-header.sticky-top.py-1
      .container.d-flex.flex-column.flex-md-row.justify-content-between
        a.py-2(href="#") WaBot
        a.py-2.d-none.d-md-inline-block(href="#") Tour
        a.py-2.d-none.d-md-inline-block(href="#") Caracteristicas
        a.py-2.d-none.d-md-inline-block(href="#") Empresa
        a.py-2.d-none.d-md-inline-block(href="#") Soporte
        a.py-2.d-none.d-md-inline-block(href="#") Precio
        a.py-2.d-none.d-md-inline-block(href="#") Contacto
    .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
      .col-md-5.p-lg-5.mx-auto.my-5
        h1.display-4.font-weight-normal WaBot
        p.lead.font-weight-normal
          | Conectando negocios con sus clientes en piloto automático.
        a.btn.btn-outline-secondary(href="#") Coming soon
      .product-device.box-shadow.d-none.d-md-block
      .product-device.product-device-2.box-shadow.d-none.d-md-block
    .d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
      .bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
        .my-3.py-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-light.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
      .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
        .my-3.p-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-dark.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
    .d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
      .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
        .my-3.p-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-dark.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
      .bg-primary.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
        .my-3.py-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-light.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
    .d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
      .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
        .my-3.p-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-white.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
      .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
        .my-3.py-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-white.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
    .d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
      .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
        .my-3.p-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-white.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
      .bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
        .my-3.py-3
          h2.display-5 Another headline
          p.lead And an even wittier subheading.
        .bg-white.box-shadow.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
    footer.container.py-5
      .row
        .col-12.col-md
          svg.d-block.mb-2(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            circle(cx="12" cy="12" r="10")
            line(x1="14.31" y1="8" x2="20.05" y2="17.94")
            line(x1="9.69" y1="8" x2="21.17" y2="8")
            line(x1="7.38" y1="12" x2="13.12" y2="2.06")
            line(x1="9.69" y1="16" x2="3.95" y2="6.06")
            line(x1="14.31" y1="16" x2="2.83" y2="16")
            line(x1="16.62" y1="12" x2="10.88" y2="21.94")
          small.d-block.mb-3.text-muted © 2017-2018
        .col-6.col-md
          h5 Features
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") Cool stuff
            li
              a.text-muted(href="#") Random feature
            li
              a.text-muted(href="#") Team feature
            li
              a.text-muted(href="#") Stuff for developers
            li
              a.text-muted(href="#") Another one
            li
              a.text-muted(href="#") Last time
        .col-6.col-md
          h5 Resources
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") Resource
            li
              a.text-muted(href="#") Resource name
            li
              a.text-muted(href="#") Another resource
            li
              a.text-muted(href="#") Final resource
        .col-6.col-md
          h5 Resources
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") Business
            li
              a.text-muted(href="#") Education
            li
              a.text-muted(href="#") Government
            li
              a.text-muted(href="#") Gaming
        .col-6.col-md
          h5 About
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") Team
            li
              a.text-muted(href="#") Locations
            li
              a.text-muted(href="#") Privacy
            li
              a.text-muted(href="#") Terms
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js")
    script(src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js")
    script(src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js")
    script.
      Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
      });
